body {
    font-family: Arial, sans-serif;
  }


  
.fundo {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url(animesummit/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: 100%; /* Ajusta a largura da imagem ao contêiner */
    width: auto;
    height: auto;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-container {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 300px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9779ce66;
    margin-top: 15%;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 25px;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.07);
    }
}

.form-group input[type="submit"] {
    margin-top: 15px;
    background-color: #8ef2e6;
    color: #fff;
    cursor: pointer;
    height: 27px;
}

.form-group input[type="submit"]:hover {
    /* Estilos quando o cursor está sobre o botão */
    animation: grow 0.3s forwards;
}

label {
    color: #381c69;
}

.login {
    color: #381c69;
}

.password-input-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 37%;
    right: 5px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url(animesummit/eye-off.png);
    background-size: cover;
    cursor: pointer;
}

.password-toggle.show-password {
    background-image: url(animesummit/eye.png);
}
