body {
    font-family: Arial, sans-serif;
  }
  
  .fundo{
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(animesummit/90d38847-3b89-4d2c-b7f2-ff74f2e4b0ed.jpg)
  }
  .login-container {
    width: 300px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9779ce66;
    margin-top: 15%;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 25px;
  }
  
  .form-group input[type="submit"] {
    margin-top: 15px;
    background-color: #8ef2e6;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
  }
  label{
    color: #381c69;
  }
  .login{
    color: #381c69;
  }